@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
:root {
  --primary-color: #f1e8df;
  --secondary-color: #7c644c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.menu-item {
  @apply hover:bg-primary-color hover:text-secondary-color transition-all   ease-in cursor-pointer hover:rounded-3xl rounded-xl p-2;
}

.active-tab {
  @apply bg-secondary-color font-bold text-white rounded-md;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
